$doc‐font‐size: 16;
$doc‐line‐height: 24;
$landscape: landscape;
$portrait: portrait;
$mobile: 400;
$tablet: 760;
$desktop: 1200;
$tv: 1500;
@mixin mq($point, $query1: min, $query2: width, $IE9: false) {
  @if $IE9 == true{
    .lt‐ie9 & {
      @content;
    }
  }
  @media (#{$query1}-#{$query2}: $point / $doc‐font‐size +em) {
    @content;
  }
}

@mixin orient($orientation: landscape) {
  @media (orientation : $orientation) {
    @content;
  }
}

.pop{
  @include mq($mobile, max){
    width: 10%;
  }
}