

@import "bourbon/_bourbon";
@import "mediaqueries";
$icon-color: #7c84ff;

.services{
  width: 100%;
  .services-vert{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.3rem;
    .serv-icon{
      display: block;
      margin-bottom: 0.7rem;
    }
    .serv-desc{
      margin-top: 0.3rem;
      padding: 0 2rem;
      @include mq($mobile, max){
        padding: 0;
      }
    }
    .serv-img{
      margin-bottom: 0.7rem;
      transition: transform 0.3s ease;
    }
    &.shadowed{
      box-shadow: 0 3px 15px 1px grey;
      padding:{
        top: 2rem;
        bottom: 2rem;
      }
      border-radius: 6px;
      .serv-icon{
        transition: transform 0.3s ease, color 0.2s ease;
      }
      &:hover{
        .serv-icon{
          transform: translateY(-1rem);
          color: #ff005c;
        }
      }
    }
    .serv-no{
      transition: background 0.5s ease, border-color 0.3s ease;
      span{
        transition: color 0.4s ease;
      }
    }
    &:hover{
      .serv-img{
        transform: translateY(-1rem) scale(1.2);
      }
      .serv-no{
        background: #d300e1;
        border-color: white;
        span{
          color: white!important;
        }
      }
    }
  }

  .services-back{
    width: 100%;
    padding: 7rem 2rem;
    background: linear-gradient(to right, rgba(0,0,0,0.84), rgba(0,0,0,0.84)), url("../img/services.jpg");
    border-radius: 8px;
    .lefti{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .lefti-c{
        width: 48%;
        margin-bottom: 1.5rem;
        @include mq($mobile, max){
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .p-de{
            text-align: center;
          }
        }
        .ico{
          font-size: 3.2rem;
          color: transparentize(white, 0.7);
          display: block;
          margin-bottom: 0.6rem;
          transition: color 0.3s ease;
        }
        &:hover{
          .ico{
            color: #ff0050;
          }
        }
        .nam{
          text-transform: uppercase;
          color: white;
          display: block;
          margin-bottom: 0.3rem;
        }
        .p-de{
          font-size: 0.89rem;
          color: #bfbfbf;
        }
      }
    }
    .righti{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2rem;
      @include mq($mobile, max){
        padding: 0;
      }
      h4{
        color: white;
        margin-bottom: 1rem;
        font-weight: 100;
        @include mq($mobile, max){
          text-align: center!important;
        }
      }
      p{
        color: #d1d1d1;
        font-size: 0.86rem;
        @include mq($mobile, max){
          margin-bottom: 2rem;
          text-align: center;
        }
      }
    }
  }

}

.serv-icon{
  color: $icon-color;
  font-size: 3rem;
}
.serv-name{
  font-size: 0.96rem;
  text-transform: uppercase;
  color: #333;
}
.serv-desc{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.92rem;
}

.serv-img{
  width: 200px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 0 7px 15px 1px grey;
}

.serv-no{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: {
    top: 3px solid green;
    bottom: 3px solid red;
    left: 3px solid purple;
    right: 3px solid royalblue;
  }
  span{
    font-size: 3rem;
  }
}