/**
 * Created by Jose Kim on 6/22/2017.
 */
@import "mediaqueries";
.testimonials{
  width: 100%;
  padding: 2rem;
  .testmonial-one-item{
    min-height: 200px;
    box-shadow: 0 5px 25px -5px black;
    border-radius: 6px;
    background: white;
    margin:{
      top: 1rem;
      bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    p{
      text-align: center;
    }
  }

  .testmonial-two-item{
    width: 100%;
    margin-bottom: 1rem;
    .test-con{
      width: 98%;
      margin: 0 auto;
      position: relative;
      background: white;
      padding: 1rem;
      &:before{
        content: '';
        position: absolute;
        left: 8%;
        bottom: -16px;
        width: 0;
        height: 0;
        border: {
          top: 16px solid #ffffff;
          right: 16px solid transparent;
          left: 16px solid transparent;
        }
      }
    }
    .test-user{
      width: 98%;
      margin: 1rem auto 0 auto;
      display: flex;
      img{
        margin-right: 1rem;
      }
      small{
        font-size: 0.9rem;
      }
    }
  }

  .testmonial-three{
    width: 100%;
    padding: 4rem;
    box-shadow: 0 5px 20px 1px grey;
    border-radius: 0.4rem;
    background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(255, 0, 137, 0.9)), url("../img/test.jpg");
    display: flex;
    align-items: center;
    @include mq($mobile, max){
      padding: 2rem 0;
    }
    .testmonial-three-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        @include mq($mobile, max){
          width: 98%;
        }
      }
    }
  }

  .testimonial-four{
    width: 100%;
    padding: 7rem 5rem;
    background: royalblue;
    .testmonial-four-item{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .testimony-p{
        font-size: 1.3rem;
      }
    }
  }

}
.testimony-title{
  font-family: 'Spectral', serif;
}
.testimony-p{
  font-size: 0.94rem;
  font-style: italic;
}
.testimony-img-c{
  width: 55px;
  height: 55px;
}
.testimony-img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: {
   right: 3px solid green;
   left: 3px solid purple;
   bottom: 3px solid red;
   top: 3px solid royalblue;
  }
  &:hover{
    border: 3px solid #ff007d;
  }
}
.test-quote{
  vertical-align: super;
}
.test-quote-r{
  vertical-align: sub;
}